input[name='fechaIngreso']:not(:focus),
input[name='fechaNacimiento']:not(:focus) {
   color: transparent;
   display: flex;
}

input[name='fechaNacimiento'] {
    &::before {
        content: 'Fecha de Nacimiento';
       
        color: gray;
        padding-right: 5%;
        
    }
}

input[name='fechaIngreso'] {
    &::before {
        content: 'Fecha de ingreso';
        color: gray;
        padding-right: 5%;
        
    }
}

input[name='fechaIngreso']:focus::before,
input[name='fechaNacimiento']:focus::before {
    display: none;
}